* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}

.xoay {
    animation: xoay 1s ease-in;
 }
 .quay {
    animation: quay 1s ease-in alternate-reverse;
 }
 .css-1wnsr1i {
    width: auto !important;
 }
 /* mobile */
@media screen and (max-width:789px) {
    .left-mobile {
        display: none;
    }
}

@keyframes xoay {
      from {
         transform: rotate(0);
      }
      to {
        transform: rotate(180deg);
      }
}

@keyframes quay {
    from {
       transform: rotate(0);
    }
    to {
      transform: rotate(180deg);
    }
}